<div class="masthead">
  <ul class="language-nav">
    <li><a href="#">CSS</a></li>
    <li><a href="#">HTML</a></li>
    <li><a href="#">JAVASCRIPT</a></li>
    <li><a href="#">RUBY</a></li>
  </ul>
  <img class="logo" src="assets/AA_Times_Logo.png" alt="">
  <ul class="masthead-links">
    <li>Tuesday, October 18, 2016</li>
    <li><i class="fa fa-newspaper-o" aria-hidden="true"></i></li>
    <li class="hov-underline">Today’s Paper</li>
    <li><i class="fa fa-video-camera" aria-hidden="true"></i></li>
    <li class="hov-underline">Video</li>
    <li class="hov-gray">77°F</li>
    <li class="hov-gray">AAO +100%</li>
  </ul>
</div>
