<div class="hidden sidebar">
  <ul>
    <li>EDITION</li>
    <li>CSS</li>
    <li>HTML</li>
    <li>JAVASCRIPT</li>
    <li>RUBY</li>
    <li>__________</li>
    <li>HELP</li>
    <li>FAQ</li>
    <li>Contact Us</li>
  </ul>
</div>
