<form action="<%= users_url %>" method="post">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">
  <input type="text" name="user[email]" value="Email">
  <input type="text" name="user[password]" value="Password">
  <input type="submit" name="" value="Creat Account">
</form>
