<table>
  <tr>
    <th>Attribute</th>
    <th>Value</th>
  </tr>
  <tr>
    <td>Cat ID</td>
    <td><%= @catrentalrequest.cat_id %></td>
  </tr>
  <tr>
    <td>Start date</td>
    <td><%= @catrentalrequest.start_date %></td>
  </tr>
  <tr>
    <td>End date</td>
    <td><%= @catrentalrequest.end_date %></td>
  </tr>
</table>
